:root{
    --fontFamily: "Open sans", sans-serif;
    --background-default: rgb(18, 20, 43);
    --background-default-2: rgb(37, 40, 80);
    --color-default: rgb(190, 199, 230);
}

body{
    background-color: var(--background-default);
    margin: 0;
    padding: 0;
}
.main-header{
    height: 4rem;
    width: 100%;
    box-shadow: 0px 5px 8px rgb(25, 43, 98);
    background-color: rgb(31, 32, 55);
    position: fixed;
    margin-top: 0;
}
.main-header .container-main-header{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20rem;
    /* border-right: 1px solid rgb(216, 216, 216); */
    position: fixed;
    height: calc( 100vh - 3.8rem);
    bottom: 0;
    left: 0;
    background-color: var(--background-default);
    z-index: 5;
    box-sizing: border-box;
}
.main-header .container-main-nav-view{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
}
.container-btn-nav-close-open .contaier-button-svg-nav svg{
    height: 1.5rem;
    width: 1.5rem;
    fill: rgb(170, 170, 170);
}
.container-btn-nav-close-open .contaier-button-svg-nav{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(215, 215, 215, 0.354);
}
.container-btn-nav-close-open .contaier-button-svg-nav:hover svg{
    fill: black;
}
.container-btn-nav-close-open .contaier-button-svg-nav:hover{
    background-color: rgb(242, 242, 242);
    border: none;
}
.main-header .container-main-header .container-nav-icon{
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .4rem;
    font-family: var(--fontFamily);
    user-select: none;
    color: white;
}
.main-header .container-main-header .container-nav-icon img{
    width: 1.8rem;
}
.main-header .container-main-header .container-nav-nav{
    height: 100%;
}
.main-header .container-main-header .container-nav-nav .container-nav-ul{
    width: 100%;
    height: 100%;
}
.main-header .container-main-header .container-nav-nav .container-nav-ul ul li{
    margin-left: 2rem;
}
.main-header .container-main-header .container-nav-nav .container-nav-ul ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1rem;
    font-family: var(--fontFamily);
    width: 100%;
    height: 100%;
    list-style: none;
}
.main-header .container-main-header .container-nav-nav .container-nav-ul ul li .a-redirect-nav-li{
    color: white;
}
.main-header .container-main-header .container-nav-nav .container-nav-ul ul li .a-redirect-nav-li > svg{
    width: 1.1rem;
    height: 1.1rem;
    margin-right: .4rem;
}
.main-header .container-main-header .container-nav-nav .container-nav-ul ul li a{
    color: rgb(203, 216, 244);
    font-size: .9rem;
    text-decoration: none;
}
.main-header .container-main-header .container-nav-nav .container-nav-ul ul li a:hover{
    color: rgb(255, 255, 255);
    fill: rgb(241, 241, 241);
}
.section-presentation-over-me{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 8rem;
    box-sizing: border-box;
}
.main-header .container-main-header .container-nav-nav .container-nav-ul ul .container-contact-header-nav-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: .5rem;
    margin-left: 1.2rem;
    margin-top: 1rem;
}
.main-header .container-main-header .container-nav-nav .container-nav-ul ul .container-contact-header-nav-main a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .5rem;
}
.main-header .container-main-header .container-nav-nav .container-nav-ul ul .container-contact-header-nav-main a svg{
    width: 1.1rem;
    height: 1.1rem;
    fill: rgb(237, 238, 255);
}
.main-header .container-main-header .container-nav-nav .container-nav-ul ul .container-main-skills-news-all{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    text-align: left;
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 4rem;
}
.main-header .container-main-header .container-nav-nav .container-nav-ul ul .container-main-skills-news-all::-webkit-scrollbar {
    width: .3rem;
}
.main-header .container-main-header .container-nav-nav .container-nav-ul ul .container-main-skills-news-all::-webkit-scrollbar-thumb {
    background-color: rgb(146, 146, 212);
    border-radius: .5rem;
}
.main-header .container-main-header .container-nav-nav .container-nav-ul ul .container-main-skills-news-all__span-title{
    margin-left: 2rem;
}
.container-nav-ul ul .container-main-skills-news-all .container-main-skills-news{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: .3rem;
    box-sizing: border-box;
    column-gap: .6rem;
    border-bottom: 1px solid rgb(224, 211, 255);
}
.container-nav-ul ul .container-main-skills-news-all .container-main-skills-news .block-news-small-nav_img{
    width: 50%;
}
.container-nav-ul ul .container-main-skills-news-all .container-main-skills-news .block-news-small-nav_img img{
    width: 100%;
}
.container-nav-ul ul .container-main-skills-news-all .container-main-skills-news .block-news-small-nav_dscr{
    font-size: .7rem;
}
.container-nav-ul ul .container-main-skills-news-all .container-main-skills-news .block-news-small-nav_dscr .notice-text{
    color: rgb(61, 61, 61);
}
.container-nav-ul ul .container-main-skills-news-all .container-main-skills-news .block-news-small-nav_dscr .notice-date{
    font-size: .6rem;
}





main section{
    box-sizing: border-box;
}
main section:nth-child(1){
    border-left: 4px solid rgb(0, 34, 255);
}
main section:nth-child(2){
    border-left: 4px solid rgb(255, 255, 255);
}
main section:nth-child(3){
    border-left: 4px solid rgb(255, 247, 0);
}
main section:nth-child(4){
    border-left: 4px solid rgb(152, 171, 233);
}
.section-presentation-over-me .container-description-me{
    width: 45%;
}
.section-presentation-over-me .container-icon-programer{
    width: 45%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: auto; */
}
.section-presentation-over-me .container-icon-programer .name-programer{
    margin-top: 1rem;
}
.section-presentation-over-me .container-icon-programer .name-programer span{
    text-align: center;
    color: greenyellow;
    font-size: 1.9rem;
    font-family: var(--fontFamily);
}
.section-presentation-over-me .container-icon-programer #view-content-contact{
    color: white;
    font-family: var(--fontFamily);
    border-bottom: 1px solid rgb(75, 112, 213);
} 
.section-presentation-over-me .container-icon-programer .contact-me-container{
    display: flex;
    /* flex-direction: column; */
    justify-content:center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 1.8rem;
    box-sizing: border-box;
    
}
.section-presentation-over-me .container-icon-programer .contact-me-container a{
    text-decoration: none;
    color: var(--color-default);
    font-family: var(--fontFamily);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}
.section-presentation-over-me .container-icon-programer .contact-me-container svg{
    width: 1.4rem;
    height: 1.4rem;
    fill: var(--color-default);
}
.section-presentation-over-me .container-icon-programer .contact-me-container svg:hover{
    fill: white;
    filter: drop-shadow(10px 10px 15px rgb(120, 109, 194));
}
.section-presentation-over-me .container-icon-programer .container-icon-programer__image{
    width: 90%;
    max-width: 20rem;
    user-select: none;
    box-sizing: border-box;
    border-radius: 50%;
}
.section-presentation-over-me .container-description-me .container-text-div-descr .descr-main{
    color: white;
    width: 100%;
    text-align: center;
    /* background-color: black; */
}
.section-presentation-over-me .container-description-me .container-text-div-descr{
    padding: 1rem;
    border-radius: .8rem;
    max-width: 30rem;
    width: 100%;
    font-family: var(--fontFamily);
}
.section-presentation-over-me .container-description-me .container-text-div-descr p{
    font-size: 1.1rem;
    font-family: var(--fontFamily);
    color: rgb(205, 197, 235);
    text-indent: 1rem;
    line-height: 1.9rem;
    text-shadow: 2px 2px 10px rgb(205, 205, 205);
}


.section-proyects-in-web {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-proyects-in-web .container-descr-my-proyects{
    text-align: left;
    max-width: 50rem;
    width: 95%;
    /* height: 6rem; */
    /* background-color: white; */
    margin-top: 7rem;
    font-family: var(--fontFamily);
    color: var(--color-default);
}
.section-proyects-in-web .container-descr-my-proyects h1{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.container-all-proyects-main{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.container-all-proyects-main .container-row-proyects-one{
    width: 20rem;
    /* box-shadow: 50px 50px 60px rgb(230, 228, 228), -2px -2px 6px rgb(230, 228, 228); */
    border-radius: .6rem;
    overflow: hidden;
    background-color: var(--background-default-2);
}
.container-all-proyects-main .container-row-proyects-one .container-image-proyect{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin-top: .6rem;
    /* background-color: white; */
    /* border-bottom: 1px solid rgb(232, 232, 232); */
}
.container-all-proyects-main .container-row-proyects-one .container-image-proyect img{
    /* width: 100%; */
    max-width: 95%;
    max-height: 90%;
    border-radius: .4rem;
}
.container-all-proyects-main .container-row-proyects-one .container-text-proyect{
    padding: .6rem;
    text-align: left;
    font-family: var(--fontFamily);
    font-size: .9rem;
    height: 10rem;
    /* background-color: white; */
    color: rgb(190, 199, 230);
    /* border-bottom: 1px solid rgb(232, 232, 232); */
}
.container-all-proyects-main .container-row-proyects-one .container-button-proyect{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-all-proyects-main .container-row-proyects-one .container-button-proyect a{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-all-proyects-main .container-row-proyects-one .container-button-proyect a button{
    height: 3rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    column-gap: .6rem;
    font-family: var(--fontFamily);
    border: none;
    background-color: blue;
    color: white;
    border-radius: .6rem;
}
.container-main-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fontFamily);
    margin-top: 8rem;
    /* height: 15rem; */
    color: white;
}
.container-main-footer .container-copy{
    text-align: center;
}

.container-main-footer .container-details-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.container-main-footer .container-details-footer .row-1-f{
    text-align: center;
    margin-top: 2rem;
}
.section-main-contat-me{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    font-family: var(--fontFamily);
}
.section-main-contat-me .container-title-contact{
    width: 100%;
    height: 5rem;
    text-align: center;
}
.section-main-contat-me .contact-me-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
}
.section-main-contat-me .contact-me-container a svg{
    width: 2rem;
    height: 2rem;
    fill: rgb(49, 49, 194);
}
.icon-contact-me-container-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-contact-me-container-image img{
    width: 100%;
    max-width: 38rem;
}
.container-svg-decoration-footer-base{
    width: 100%;
    height: 100%;
    position: relative;
}
.container-svg-decoration-footer-base svg{
    width: 100%;
    z-index: -1;
    margin-bottom: -1rem;
}






















.color-decoration-1{
    color: rgb(88, 92, 211);
    font-size: 1.8rem;
    font-weight:bold;
}
.color-decoration-2{
    color: rgb(149, 141, 225);
    font-size: 1.5rem;
    font-weight:bold;
}
.color-decoration-3{
    color: rgb(192, 205, 43);
    font-size: 1.5rem;
    font-weight:bold;
}




@media screen and (max-width: 950px) {
    .section-presentation-over-me{
        flex-direction: column-reverse;
        align-items: center;
    }   
    .section-presentation-over-me .container-icon-programer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-presentation-over-me .container-description-me{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-presentation-over-me .container-description-me .container-text-div-descr{
        width: 100%;
        text-align: center;
    }
    .container-all-proyects-main .container-row-proyects-one .container-text-proyect {
        height: auto;
    }
    .container-all-proyects-main .container-row-proyects-one {
        width: 90%;
    }
    .section-presentation-over-me .container-description-me .container-text-div-descr p {
        text-align: left;
    }
    /* .section-presentation-over-me .container-icon-programer .contact-me-container{
        padding-left: 2rem;
        margin-left: 0;
        box-sizing: border-box;
    } */
}
