<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JavaScript</title>
</head>

<body>
    <div>
        <h1>JavaScript variables</h1>
        <p>Las variables son un concepto fundamental en cualquier lenguaje de programación. En JavaScript, puedes declarar variables usando las palabras clave var, const o let. En este artículo, aprenderás por qué usamos variables, cómo usarlas y las diferencias
            entre const, let y var.</p>
        <p>Ademas, son la manera como los programadores le dan nombre a un valor para poder reusarlo, actualizarlo o simplemente registrarlo. Las variables se pueden usar para guardar cualquier tipo de dato en JavaScript.</p>
        <h2>Var</h2>
        <p>Al usar var, declaramos la variable a nivel global, quiero decir que será acecible de cualquier parte del documento. El cambio de valor puede pasar dentro de las funciones o fuera afectando el valor original.</p>
        <pre>

            <code>
                var nombre="meta";
                nombre="facebook";
                console.log(nombre);
                >> facebook
                function myFuncion(){
                    nombre="nuevo valor";
                };
                myFuncion();
                console.log(nombre); 
                >> nuevo valor
            </code>
        </pre>
        <p>La variable nombre al estar declarada con un var y fuera de una función tiene un alcanze global, pero si la variable nombre la declaramos dentro de una funcion las cosas varian.</p>
        <pre>
            <code>
                function myFuncion(){
                    var nombre="meta";
                };
                myFuncion();
                console.log(nombre);
            </code>
        </pre>
        <p>Este código nos devuelve un error, porque la variable nombre tiene un alcanze solo dentro de la función</p>
        <h2>Const</h2>
        <p>A diferencia de var, una variable declarada como constante no puede cambiar de valor, si su valor es un dato de tipo primario, ademas las constantes no son de ambito global ya que los cambios echos dentro de las funciones si el dato que almacena
            nos es de tipo primero, este no afecta al valor de la constante, ya que el cambio solo se esta dando dentro de una función
        </p>
        <pre>
            <code>
                const nombre="meta";
                // no se puede alterar el valor ya que el tipo de dato que contiene pertece a datos primarios.
                const lista=["meta", "facebook"];
                funcion myFuncion(){
                    lista[0]="facebook";
                    console.log(lista);
                    >> "facebook", "facebook"
                }
                console.log(lista);
                >> "meta", "facebook"
            </code>
        </pre>
        <p>Const no puede cambiar de tipo de datos, pero si el dato que contiene no es primario como una lista que podemos agregar, quitar, modificar, etc.. pero aun seguirá siendo una lista. </p>
        <p>const tiene un alcanze de bloque, es decir que no puede salir de las llaves.</p>
        <h2>Let</h2>
    </div>
</body>

</html>