<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed:wght@300&family=Smooch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/diario.css">
    <link rel="shortcut icon" href="../static/images/vraemtec.ico" type="image/x-icon">
    <title>BlogVtec</title>
</head>

<body>
    <div class="contenedorGeneral">
        <div class="cabezera">
            <a href="../index.html">Sobre mi</a>
            <a href="https://emmavraemtec.pythonanywhere.com/">PyExcel</a>
            <a href="../templates/project.html">RapPress</a>
            <a href="https://vraemtec.pythonanywhere.com/">VraemTec</a>
            <a href="../templates/tablas.html">Pafixel</a>
        </div>
        <div class="cuerpo">
            <div class="navCuerpo">
                <img src="../static/images/bars-solid.svg" class="menuCelu" alt="">
                <div class="navCuerpoA">
                    <a href="#tipsPython" class="opcionABuscar linkTips">Tips Python</a>
                    <a href="#tipsJavascript" class="opcionABuscar">Tips JavaScript</a>
                    <a href="#tipsHtml" class="opcionABuscar">Tips HTML</a>
                    <a href="#tipsCss" class="opcionABuscar">Tips CSS</a>
                    <a href="#libreriasExternas" class="opcionABuscar">Librerias externas</a>
                    <a href="#pythonAnywhere" class="opcionABuscar">PythonAnywhere</a>
                    <a href="#heroku" class="opcionABuscar">Heroku</a>
                    <a href="#mas" class="opcionABuscar">Mas</a>

                </div>
            </div>
            <div class="contenedorData">
                <div class="paraPadding">
                    <div id="tipsPython" class="">
                        <h2 class="tituloPrimario">Python en la web</h2>
                        <span class="letrasNormales">Sin duda python es un lenguaje muy bueno, que es muy utilizado en muchas ramas de la informática, a continuación veremos tips sobre como hacer un uso corecto de algunas cosas que trae python.</span>
                        <h3 class="tituloSecundario">Python Flask</h3>
                        <span class="letrasNormales">Flask es un microframework usado en desarrollo web, el echo que sea un microframework no quiere decir que no se pueda hacer proyectos grandes. Pero bueno aqui estamos para unos tips.<br>
                        Si el proyecto va ser pequeño y no tiene caso a ser escalable , puedes usar el típico y facil modelo que se suele usar, pero si va a ser un proyecto que va escalar es necesario hacer uso de los Blueprint que por cierto es solo tener el código de tu proyecto mas ordenado.<br>
                        para uno que recien va comenzando será un dolor de cabeza pero luego te acostumbraras al dolor.    
                        </span><br>
                        <img src="../static/images/python-flask-women.svg" class="imagenDraw" alt="">

                        <h3 class="tituloSecundario">Python pandas</h3>
                        <span class="letrasNormales">Pandas es una libreria de python que se usa mucho al trabajar con los datos, pandas hace que la vida de los que manejan datos sea muy facil.<br>Puedes leer archivos .xlsx .csv solo con dos lineas de código.</span>

                        <h3 class="tituloSecundario">Python Numpy</h3>
                        <span class="letrasNormales">Numpy es mi favorita si se trata de trabajar con listas, matrices ya que a comparación de las listas que se puede generar con python mismo, los de numpy ocupan menos espacio en la memoria y tambien se nesecita poca memoria para crear Arrays grandes. <br>Las ventajas que ofrece ante Arrays comunes es que numpy te da mas opciones para manipular sus Arrays</span>
                        <br>
                        <h4 class="tituloTerciario">Crear lista</h4>
                        <span></span>
                        <div class="codigoPythonl">
                            <pre class="codigoPython">
                                
    1 import numpy as np
    2 listaVacia = np.array([])  
    3 listaNormal = np.array([1, "a", True])
    4 listaEnRango = np.arange(1, 10)  
    5 listaBidimensional = np.array([1, 2, 3], ["a", "b", "c"])
    6 unos = np.ones((3,4))
    7 ceros = np.zeros((2,2))
    8 aleatorio = np.random.random((2,2))
    9 vacio = np.empty((3,2))
   10 unSoloValor = np.full((2,3),8) 
   11 valorEspaciado = np.arange(1,10,2)
   12 valorEspaciadoDecimal = np.linspace(0,2,5)                             
   13 matrizIndentidad1 = np.eyes(4,4)
   14 matrizIndentidad2 = np.identity(4)
   15 
   16 dimensiones = listaNormal.ndim
   17 tipoDeDato = listaNormal.dtype
   18 cambioDeForma = listaNormal.reshape(3,2) 
   19 maximo = listaEnRango.max() # np.max(listaEnRango) 
   20 minimo = listaEnRango.min() # np.min(listaEnRango)
   21 suma = listaEnRango.sum() # np.sum(listaEnRango)
   22 tamaño = listaNormal.size
   23 forma = listaNormal.shape
   24 raizCuadrada = np.sqrt(listaNormal)
   25 desviacionEstandar = np.std(listaNormal)                                

                            </pre>
                        </div>
                        <img src="../static/images/numpy-pasion.svg" class="imagenDraw" alt="">
                        <h3 class="tituloSecundario">Matplotlib</h3>
                        <span class="letrasNormales">Matplotlib es una biblioteca para la generación de gráficos a partir de datos contenidos en listas o arrays en el lenguaje de programación Python y su extensión matemática NumPy. Proporciona una API, pylab, diseñada para recordar a la de MATLAB.</span>
                        <div>
                            <pre class="codigoPython">import matplotlib.pyplot as plt</pre>
                        </div>
                        <h3 class="tituloSecundario">openCV y Mediapipe</h3>
                        <span class="letrasNormales"> OpenCV es una biblioteca libre de visión artificial que significa Open Computer Vision (Visión Artificial Abierta) que tiene mas de 2500 algoritmos para poder realizar acciones econtrar imágenes similares, seguir los movimientos de los ojos, etc . Practicamente es como tener un ojo en la pc y todo lo que ve podemos manipularlo a nuestro gusto.<br> Mediapipe nos facilita a reconocer y a graficar obejtos que estan siendo captados por la camara, practicamente mediapipe facilita la detección de objetos. </span>

                        <img src="../static/images/vision-artificial.svg" class="imagenDraw" alt="">
                    </div>
                    <div id="tipsJavascript">
                        <h2 class="tituloPrimario">Tips de Javascript</h2>
                        <span class="letrasNormales">Javascript es un lenguaje muy popular en el área del desarrollo web, ya que es interpretado directamente por el navegador. <br>Existen muchas librerias que estan escritas en Javascript una de ellas es React que personalmente e probado y puedo decir que es muy bueno porque da una apariecia de ser html y js combinado. <br>
                        Con javascript podemos manejar el DOM de nuestra web entre otras cosas.
                        </span><br>
                        <img src="../static/images/javascript_frameworks.svg" class="imagenDraw" alt="">
                        <h3 class="tituloSecundario">React Js</h3>
                        <span class="letrasNormales">React es una biblioteca Javascript de código abierto diseñada para crear interfaces de usuario con el objetivo de facilitar el desarrollo de aplicaciones en una sola página. Es mantenido por Facebook y la comunidad de software libre. En el proyecto hay más de mil desarrolladores libres<br>Si eres un desarrollador Front nesecitas aprender react.   </span><br>
                        <img src="../static/images/undraw_react.svg" class="imagenDraw" alt="">
                    </div>
                    <div id="tipsHtml">
                        <h2 class="tituloPrimario">Tips para Html</h2>
                        <span class="letrasNormales">El Lenguaje de Marcado de Hipertexto (HTML) es el código que se utiliza para estructurar y desplegar una página web y sus contenidos. Por ejemplo, sus contenidos podrían ser párrafos, una lista con viñetas, o imágenes y tablas de datos.</span>
                        <h3 class="tituloSecundario">Tips</h3>
                        <div class="contenedorDeCodigo">
                            <span class="letrasNormales">datalist <br>datalist es una etiqueta que te ofrece una lista de opciones<br> Un ejemplo de datalist</span><br>
                            <input list="browsers" name="myBrowser" />
                            <datalist id="browsers">
                                <option value="Python">
                                <option value="Javascript">
                                <option value="Php">
                            </datalist>
                        </div>
                    </div>
                    <div id="tipsCss">
                        <h2 class="tituloPrimario">Tips para Css</h2>
                        <span class="letrasNormales">Css en español «Hojas de estilo en cascada», es un lenguaje de diseño gráfico para definir y crear la presentación de un documento estructurado escrito en un lenguaje de marcado</span>
                        <br><img src="../static/images/undraw_static_assets.svg" class="imagenDraw" alt="">
                        <h3 class="tituloSecundario">Tips</h3>
                        <span class="letrasNormales">Aqui veremos partes de css que son muy importantes y muy eficazes la hora de programar, ya que permite ahorrar tiempo. </span>
                        <div class="contenedorDeCodigo">
                            <span class="letrasNormales">Variables en css:<br>Ayudan a reutilizar un valor y por ejemplo si deseas cambiar algo, solo cambias la variable.</span>
                            <br>
                            <div class="code">

                                <pre>
                                    <code>
                                        <span style="color: rgb(71, 78, 206);">:root</span><span style="color: rgb(255, 142, 21);">{
                                        --colorGeneralDeLetra:<span style="color:yellow;"> "black"</span>;
                                        }</span>
                                        <span style="color: rgb(255, 142, 21);">.miLetra{
                                            <span style="color: white;">color:</span> <span style="color:blueviolet;">var(</span>--colorGeneralDeLetra<span style="color:blueviolet;">)</span>;
                                        }</span>
                                    </code>
                                </pre>
                            </div>

                        </div>
                    </div>
                    <div id="libreriasExternas">
                        <h2 class="tituloPrimario">Librerias Y páginas que uso:</h2>
                        <span class="letrasNormales">Las librerias o páginas que uso a mi dia a dia son uno de mis herramientas principales al desarrollar mi proyectos, ya que me facilitan mucho y son libianos por lo que no hacen que mi paginas sea dificil de cargar, ademas dan un aspecto mucho mejor.<br>Aqui un listado de ellas: </span>
                        <h3 class="tituloSecundario">FontAwesome</h3>
                        <span class="letrasNormales">Es un sitio web donde econtraremos diferentes tipos de iconos en sus dos versiones que son de pago y gratis.<br>FontAwesome ofrece iconos en formato svg donde puedes descargarlos o simplemente usar la cdn y asi poner los diferentes iconos sin descargarlos</span>
                        <div class="cajaFontAwesome cajaG">
                            <span>
                        </span>
                            <a class="linkADestino" href="https://fontawesome.com/">
                                <img src="../static/images/font-awesome-brands.svg" class="fontIconos" alt=""> Font Awesome
                            </a>
                            <p class="linkADestino">Elimine la molestia de los íconos en su sitio web.</p>
                        </div>
                        <!--  -->
                        <h3 class="tituloSecundario">ColorZilla</h3>
                        <span class="letrasNormales">Un sitio web donde puedes generar colores para tu fondo y modificar los que ya trae, ya sea en gradientes o la clase que te guste.<br>Es muy facil de usar y ya tiene algunos colores predefinidos donde solo puedes copiar y pegar en tu archivo .css</span>
                        <div class="cajaColorZilla cajaG">
                            <span>
                        </span>
                            <a class="linkADestino" href="https://www.colorzilla.com/gradient-editor/">
                             ColorZilla
                        </a>
                            <p class="linkADestino">Ejemplo de los colores en colorzilla</p>
                        </div>
                        <!--  -->
                        <h3 class="tituloSecundario">Neumorphism</h3>
                        <span class="letrasNormales">Aquí puedes generar botones con buenos estilos, con sombras realistas que parecieran que estan flotando sobre la pagina.
                        <br>puedes modificar los colores estilos a como gustes, neumorphis es una herramienta que hará que los botones sin buena apariencia tengan una una apariencia elegante.
                    </span>
                        <div class="cajaNeumorphis cajaG">
                            <span>
                        </span>
                            <a class="linkADestino" href="https://neumorphism.io/#ffffff">
                                <button class="btnNeumorphis"></button>
                            </a>
                            <p class="linkADestino">Un botón echo en neumorphis</p>
                        </div>
                        <!--  -->
                        <h3 class="tituloSecundario">unDraw</h3>
                        <span class="letrasNormales">Si buscas ilustraciones unDraw es el lugar indicado, unDraw ofrece ilustraciones en formato .svg donde puedes descargarlos en los estilos o colores que desees.    
                    <br>Solo tienes que buscar la ilustración de su interes y undraw mostrará las ilustraciones disponibles.</span>
                        <div class="cajaNeumorphis cajaG">
                            <span>
                        </span>
                            <a class="linkADestino" href="https://undraw.co/search">
                                <img src="../static/images/undraw-example.svg" class="fontUndraw">
                            </a>
                            <p class="linkADestino">Una imagen de unDraw en svg</p>
                        </div>
                        <!--  -->
                        <h3 class="tituloSecundario">Browse Fonts</h3>
                        <span class="letrasNormales">Browse Fonts de google ofrece distintos tipos de letras, para poder tener los estilos en tu sitios web es necesario copiar el link(que se nos genera cuando escogemos el estilo) y pegar en el head de nuestro archivo.html</span>
                        <div class="cajaNeumorphis cajaG">
                            <span>
                        </span>
                            <a class="linkAFontGoogle" href="https://fonts.google.com/">
                                Smooch de Font Google
                            </a>
                            <p class="linkADestino">Estilo Smooch de google Font</p>
                        </div>
                    </div>

                    <div id="pythonAnywhere">
                        <h2 class="tituloPrimario">Pythonanywhere</h2>
                        <span class="letrasNormales">PythonAnywhere es un entorno de desarrollo integrado (IDE) en línea y un servicio de alojamiento web (Plataforma como servicio) basado en el lenguaje de programación Python.</span>
                        <br><img src="../static/images/undraw_server.svg" class="imagenDraw" alt="">
                        <h3 class="tituloSecundario">Rutas</h3>
                        <span class="letrasNormales">Sin duda si subiste un proyecto python a pythonanywhere te encontraste con errores que no entendias porque pasaban, uno de ellos fue que las imagenes no te cargaban y otras como no te corria el programa. <br> Aqui te explico como subir tu proyecto a pythonanywhere <br>
                        Si es un proyecto que no utiliza Blueprint, es facil, primero creas un nuevo proyecto en pythonanywhere <br> creas un entorno aislado con virtualenv o la que uses <br> Entras dentro de entorno e importar tus archivos y ya. <br>Recuerda que si en tu app tratas de leer archivos imagenes u otros, siempre usa la ruta absoluta (osea desde /home/..)<br><br>
                        <br>Si usa Blueprint recuerda que el modulo a importar tiene que tener el mismo nombre que la variable donde iniciaste Blueprint.<br>Tambien recordar que los archivos .html en la carpeta templates no lo va leer a menos que crees una carpeta dentro de template y lo muevas ahi tu .html pero deves espesificar que la carpeta es templates cuando inicializas los blueprints <br><br>Ya en pythonanywhere deves indicarle cual es tu entorno virtual y cuales son tus archivos estaticos.
                        </span>
                        <h3 class="tituloSecundario">Desaventajas</h3>
                        <span class="letrasNormales">La desventaja que tiene es que da poco espacio, si te instalas un framework aparte como opencv y mediapipe, pws no te instala porque la instalacion se pasa el espacio que te dan.<br>Asi que si tu proyecto tiene dependecias a instalar, resemos para que no se te llene el espacio brindado. </span>
                    </div>
                    <div id="heroku">
                        <h2 class="tituloPrimario">Heroku</h2>
                        <span class="letrasNormales">Heroku es una plataforma como servicio de computación en la Nube que soporta distintos lenguajes de programación. Heroku es propiedad de Salesforce.com <br>Si bien corre con mucha normalidad proyectos en react, node o javascript puro, pero en lenguajes como python es muy complicado. <br> Heroku es ideal para cualquier proyecto. </span>
                        <br><img src="../static/images/cloud_hosting_heroku.svg" class="imagenDraw" alt="">
                    </div>
                    <div id="">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <span> &copy; VraemTec 2019-2022 </span>
            <span>Over Rimachi</span>
        </div>
    </div>
</body>

</html>