<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="../static/images/vraemtec.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles/home-project.css">
    <title>Proyectos</title>
</head>

<body>
    <div class="contenedorGeneralDeNavs">

        <img src="../static/images/bars-solid.svg" class="iconoDeNav" alt="">
        <div class="contenidoDeNav">
            <a href="/index.html" class="cssbuttons-io">
                HOME
            </a>
            <a href="/templates/certificados.html" class="cssbuttons-io">
                 CERTIFICADOS
            </a>
        </div>

    </div>
    <div class="contenedorGeneral">
        <div class="centradorGeneral">
            <div class="contenedorDeProyecto">
                <div class="imagen"><img src="../static/images/taxis.png" class="imgLog" alt=""></div>
                <div class="descripcion">
                    <h2><a href="./taxis/index.html">Auto</a></h2>
                    <span>2022</span>
                    <p>Lorem ipsum dolor, situs dolorupti commodi sed est expedita fugit voluptate in, ipsum vero quibusdam lam, dicta esse.</p>
                </div>
            </div>

            <div class="contenedorDeProyecto">
                <div class="imagen"><img src="../static/images/hosting1.png" class="imgLog" alt=""></div>
                <div class="descripcion">
                    <h2><a href="./routes/hosting.html">Hosting</a></h2>
                    <span>2022</span>
                    <p>Lorem ipsum dolor, situs dolorupti commodi sed est expedita fugit voluptate in, ipsum vero quibusdam lam, dicta esse.</p>
                </div>
            </div>
            <div class="contenedorDeProyecto">
                <div class="imagen"><img src="../static/images/vraemtec.png" class="imgLog" alt=""></div>
                <div class="descripcion">
                    <h2><a href="https://vraemtec.pythonanywhere.com/">VraemTec</a></h2>
                    <span>2019</span>
                    <p>Lorem ipsum dolor, situs dolorem quod impedit fugit possim est expedita fugit voluptate in, ipsum vero quibusdam lam, dicta esse.</p>
                </div>
            </div>
            <div class="contenedorDeProyecto">
                <div class="imagen"><img src="../static/images/PyExcel.png" class="imgLog" alt=""></div>
                <div class="descripcion">
                    <h2><a href="https://emmavraemtec.pythonanywhere.com/">PyExcel</a></h2>
                    2020
                    <p>Lorem ipsum dolor, situs dolorem quod impedit fugpedita fugit voluptate in, ipsum vero quibusdam lam, dicta esse.</p>
                </div>
            </div>
            <div class="contenedorDeProyecto">
                <div class="imagen"><img src="../static/images/rappress.png" class="imgLog" alt=""></div>
                <div class="descripcion">
                    <h2><a href="./project.html">RapPress</a></h2>
                    <span>2021</span>
                    <p>Lorem ipsum dolor, situs dolorem quod impedit fugit possimussed est expedita fugit voluero quibusdam lam, dicta esse.</p>
                </div>
            </div>
            <div class="contenedorDeProyecto">
                <div class="imagen"><img src="../static/images/pafiexcel.png" class="imgLog" alt=""></div>
                <div class="descripcion">
                    <h2><a href="./tablas.html">Pafixel</a></h2>
                    <span>2021</span>
                    <p>Lorem ipsum dolor, situs dolorem quod impedugit voluptate in, ipsum vero quibusdam lam, dicta esse.</p>
                </div>
            </div>
            <div class="contenedorDeProyecto">
                <div class="imagen"><img src="../static/images/blogvtec.png" class="imgLog" alt=""></div>
                <div class="descripcion">
                    <h2><a href="./diario.html">BlogVtec</a></h2>
                    <span>2021</span>
                    <p>Lorem ipsum dolor, situs dolorem quod impedit f fugit voluptate in, ipsum vero quibusdam lam, dicta esse.</p>
                </div>
            </div>
            <div class="contenedorDeProyecto">
                <div class="imagen"><img src="../static/images/Pylatec.png" class="imgLog" alt=""></div>
                <div class="descripcion">
                    <h2><a href="https://overcrypto.pythonanywhere.com/">Pylatec</a></h2>
                    <span>2021</span>
                    <p>Desarrollado en python, actuamente en proceso. Lorem ipsum dolor, situs doloptate in, ipsum vero quibusdam lam, dicta esse.</p>
                </div>
            </div>

        </div>
    </div>

    <footer class="Footer">
        <span>&copy;OVER RIMACHI 2021</span>

    </footer>
</body>

</html>