<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c3e03baa45.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/style2.css">
    <link rel="shortcut icon" href="../static/images/over.ico" type="image/x-icon">

    <title>OverRimachiNuñez</title>
</head>

<body>
    <section>
        <article>
            <div>
                <ul>
                    <li><a class="nav" href="/">Home</a></li>
                    <li><a class="nav" href="./project.html">Projects</a></li>
                    <li><a class="nav" href="#">Habilities</a></li>
                    <li><a class="nav" href="#">Contact</a></li>
                </ul>
            </div>
            <script src="./templates/otros/back.js"></script>
            <center>
                <!-- onmouseenter="backcolor()" onmouseleave="ratonsalido()" -->
                <div style="" class="ctn-languaje" id="ctn-l">
                    <div class="py">
                        <h1>Python</h1>
                        <p class="folder">Desde el año 2018 Programe en áreas como desarrollo web backend, vision artificial, etc... asi ganando experiencia en cada proyecto echo</p>
                        <a class="link-code" href="https://github.com/soni-crypto/vision-por-computador" target="blank"><img class="git" src="../static/images/github-brands.svg" alt=""></a>
                        <a class="link-code" href=""><img class="git" src="../static/images/folder-open-solid.svg" alt=""></a>

                    </div>
                    <div class="js">
                        <h1>JavaScript</h1>
                        <p class="folder">Desarrollé un pequeño juego en JavaScript, fortaleciendo mis habilidades de programador asi ganando experiencia en cada linea de codigo escrito
                            <p>
                                <a href="https://vraemtec.github.io/">ir al juego</a>
                                <a class="link-code" href=""><img class="git" src="../static/images/github-brands.svg" alt=""></a>
                                <a class="link-code" href=""><img class="git" src="../static/images/folder-open-solid.svg" alt=""></a>

                    </div>
                    <div class="php">
                        <h1>Php</h1>
                        <a class="link-code" href=""><img class="git" src="../static/images/github-brands.svg" alt=""></a>
                        <a class="link-code" href=""><img class="git" src="../static/images/folder-open-solid.svg" alt=""></a>

                    </div>
                </div>
            </center>
        </article>
    </section>
</body>

</html>