<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/tiktok.css">
    <title>Tick Tok</title>
</head>

<body>
    <div class="fondoCelularInicio">
        <center>
            <img src="../static/images/tiktoklite.png" class="tiktokLogoDeEntrada" alt="">
        </center>
    </div>
    <div class="cuerpoTik">

        <div class="divVidFondo">
            <video src="../static/images/fondo1.mp4" autoplay loop class="vidFondo"></video>
        </div>

        <div class="siguiendoParaTi">
            <span class="siguiendo">Siguiendo</span><span class="paraTi">Para ti</span>
        </div>

        <div class="optTikTokMore">
            <div class="perfilTik">
                <img src="../static/images/over.jpg" class="iconTik2 perfilCirculoTik" alt="">
                <span class="letrasBottomTik2 masCirculoTik">+</span>
            </div>
            <div class="likeTik">
                <img src="../static/images/heart-solid.svg" class="iconTik2 corazon" alt="">
                <span class="letrasBottomTik2">4.1K</span>
            </div>
            <div class="commentTik">
                <img src="../static/images/comment-solid.svg" class="iconTik2" alt="">
                <span class="letrasBottomTik2">194</span>
            </div>
            <div class="shareTik">
                <img src="../static/images/share-solid.svg" class="iconTik2" alt="">
                <span class="letrasBottomTik2">190</span>
            </div>
            <div class="musicaTik">
                <div class="imgAquiMusica"></div>
            </div>
        </div>
        <div class="navDeTikTok">
            <div class="homeTik">
                <img src="../static/images/house-solid.svg" class="iconTik" alt="">
                <span class="letrasBottomTik">Inicio</span>
            </div>
            <div class="searchTik">
                <img src="../static/images/search-solid.svg" class="iconTik" alt="">
                <span class="letrasBottomTik">Tendencias</span>
            </div>
            <div class="crearTik">
                <span class="letrasBottomTikM">+</span>
            </div>
            <div class="msgTik">
                <img src="../static/images/message-solid.svg" class="iconTik" alt="">
                <span class="letrasBottomTik">Bandeja de entrada</span>
            </div>
            <div class="yoTik">
                <img src="../static/images/user-solid.svg" class="iconTik" alt="">
                <span class="letrasBottomTik">yo</span>
            </div>

        </div>
        <div class="perfilDeLaPersona">
            <span><strong>@vraemtec </strong> </span>
            <span>Programador y Desarrollador Web</span>
            <span>BackEnd y FronEnd</span>
            <span>Python en diferentes áreas</span>
            <span>Amor por la programación</span>
        </div>
    </div>
    <div class="pieTik"></div>


    <script src="../static/tiktok/playStop.js"></script>
</body>

</html>