:root {
    --fontGoogle: "Barlow Condensed", Verdana;
    --fontGoogle2: "Smooch";
    --colorLetraEnDark: rgb(193, 193, 193);
}

body {
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    background-color: rgb(51, 51, 51);
}

.cabezera {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: rgb(131, 131, 131);
}

.cabezera a {
    text-decoration: none;
    color: white;
    font-family: var(--fontGoogle);
    font-size: 1.2rem;
    margin-right: 1rem;
}

.cabezera a:hover {
    color: rgb(160, 160, 255);
}

.cuerpo {
    width: 100%;
    height: 86vh;
    display: flex;
}

.navCuerpo {
    width: 20%;
    height: 100%;
    background-color: black;
}

.navCuerpoA {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.contenedorData {
    width: 100%;
    height: 100%;
    background-color: rgb(35, 35, 35);
    overflow-y: scroll;
}

.contenedorData::-webkit-scrollbar {
    background-color: rgb(215, 215, 215);
    width: .5rem;
    border-radius: .5rem;
}

.contenedorData::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: .5rem;
}

.paraPadding {
    padding-left: 3rem;
    padding-right: 1rem;
}

.tituloPrimario,
.tituloSecundario,
.letrasNormales {
    color: rgb(187, 228, 228);
    font-family: var(--fontGoogle);
}

.footer {
    width: 100%;
    height: 3rem;
    background-color: rgb(51, 51, 51);
    color: white;
    display: flex;
    font-family: var(--fontGoogle);
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.opcionABuscar {
    font-family: var(--fontGoogle);
    color: var(--colorLetraEnDark);
    text-decoration: none;
    margin-top: 1.8rem;
    margin-left: 1.5rem;
}

.opcionABuscar:hover {
    color: white;
}

.linkADestino {
    font-family: var(--fontGoogle);
    text-decoration: none;
    color: rgb(0, 85, 85);
}


/* SOLO cajas de redireccion */

.fontIconos {
    width: 2rem;
}

.cajaFontAwesome {
    height: 10rem;
    width: 20rem;
    margin-left: 35%;
    margin-top: 1rem;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    border-radius: .2rem;
}

.cajaColorZilla {
    height: 10rem;
    width: 20rem;
    margin-left: 35%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    border-radius: .2rem;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+48,1e5799+48,207cca+49,2989d8+50,1e5799+72,1e5799+100 */
    background: rgb(125, 185, 232);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(125, 185, 232, 1) 0%, rgba(30, 87, 153, 1) 48%, rgba(30, 87, 153, 1) 48%, rgba(32, 124, 202, 1) 49%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 72%, rgba(30, 87, 153, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(125, 185, 232, 1) 0%, rgba(30, 87, 153, 1) 48%, rgba(30, 87, 153, 1) 48%, rgba(32, 124, 202, 1) 49%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 72%, rgba(30, 87, 153, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(125, 185, 232, 1) 0%, rgba(30, 87, 153, 1) 48%, rgba(30, 87, 153, 1) 48%, rgba(32, 124, 202, 1) 49%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 72%, rgba(30, 87, 153, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799', GradientType=1);
    /* IE6-9 */
}

.cajaNeumorphis {
    height: 10rem;
    width: 20rem;
    margin-left: 35%;
    margin-top: 1rem;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    border-radius: .2rem;
}

.btnNeumorphis {
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    border: none;
    border-radius: 21px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 7px 7px 14px #e0e0e0, -7px -7px 14px #ffffff;
}

.linkAFontGoogle {
    font-family: var(--fontGoogle2);
    font-size: 1.6rem;
}

.fontUndraw {
    width: 8rem;
}

.contenedorDeCodigo {
    width: 60%;
    background-color: rgb(78, 78, 78);
    border-radius: .4rem;
    padding: 1rem;
}

.imagenDraw {
    width: 15rem;
    margin-left: 30%;
}

.code {
    margin-left: -10rem;
}

.menuCelu {
    display: none;
}

@media screen and (max-width:1000px) {
    .menuCelu {
        width: 1.9rem;
        display: block;
        border-radius: .3rem;
        filter: invert(1);
    }
    .code {
        margin-left: -15rem;
    }
    .cabezera a {
        font-size: .9rem;
    }
    .navCuerpoA {
        display: none;
        width: 30%;
        background-color: aliceblue;
    }
    .navCuerpoA a {
        display: block;
        color: rgb(35, 35, 35);
    }
    .navCuerpoA a:hover {
        color: rgb(53, 53, 137);
        text-decoration: underline;
    }
    .navCuerpo {
        margin-top: -2.7rem;
        position: absolute;
        height: auto;
        width: auto;
        background-color: rgba(0, 0, 0, 0);
    }
    .navCuerpo:hover>.navCuerpoA {
        display: block;
    }
    .paraPadding {
        padding: .3rem;
    }
    .contenedorData {
        width: 100%;
    }
    .cajaG {
        margin-left: 10%;
    }
    .contenedorDeCodigo {
        width: 90%;
    }
}