body {
    background: rgb(14, 19, 71);
}

ul li {
    font-family: monospace;
    font-size: 1rem;
    display: inline-block;
    background-color: rgba(240, 248, 255, 0.356);
    border-radius: 4px;
    padding: 1rem 1rem 1rem 1rem;
}

ul li:hover {
    /* background-color: rgb(130, 128, 128); */
    border-bottom: 3px solid rgb(179, 255, 66);
}

.nav {
    text-decoration: none;
    color: #fff;
}

.py {
    border-radius: 10px;
    width: 25rem;
    height: 14rem;
    background-color: rgb(255, 255, 255);
    margin-left: 3rem;
}

.js {
    border-radius: 10px;
    width: 25rem;
    height: 14rem;
    background-color: rgb(255, 255, 255);
    margin-left: 4rem;
}

.php {
    border-color: aquamarine;
    border-radius: 10px;
    width: 25rem;
    height: 14rem;
    background-color: rgb(255, 255, 255);
    margin-left: 3rem;
    margin-top: 3rem;
}

.py:hover {
    box-shadow: 2px 2px 0px rgb(213, 213, 33), 3px 3px 0px rgb(213, 213, 33), 5px 5px 0px rgb(213, 213, 33);
}

.js:hover {
    box-shadow: 2px 2px 0px rgb(213, 213, 33), 3px 3px 0px rgb(213, 213, 33), 5px 5px 0px rgb(213, 213, 33);
}

.php:hover {
    box-shadow: 2px 2px 0px rgb(213, 213, 33), 3px 3px 0px rgb(213, 213, 33), 5px 5px 0px rgb(213, 213, 33);
}

.ctn-languaje {
    border-radius: 10px;
    padding-top: 2rem;
    background-color: rgba(57, 66, 171, 0.188);
    box-shadow: inset 3px 3px 10px rgb(107, 103, 184), inset -3px -3px 10px rgb(107, 103, 184);
    max-width: 60rem;
    min-width: 30rem;
    min-height: 35rem;
}

.ctn-languaje>div {
    float: left;
    /* background-color: rgba(255, 255, 255, 0.489); */
}

.link-code {
    /* color: black; */
    /* width: 50px; */
    font-style: none;
    margin-left: 1rem;
}

.git {
    width: 2rem;
}

.folder {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}